html, body {
  height: 100%;
  width: 100%;
  font-family: "Copperplate", fantasy;
}

footer {
  background-color: #eee;
}

#Header{
  color: gold;
  font-size:105%;
  background-color: darkgreen;
}

#ecs {
background-color: navy;
  color: gold;
  
}

#intro{
background-color: darkgreen;
  color:gold;
  
  font-family: "Copperplate", fantasy;
}

#art{
background-color: darkred;
  color: #999999;
}

#ap{
background-color: black;
  color:gold;
  
}
#web{
background-color: black;
  color: silver;
}
#ios{
background-color:lightblue;
  color:#5c5c5c;
  
}
#oth
{
  background-color: grey;
  color:black;
}
